<head>
  <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
      <div class="row primary">
        <div class="column about">
          <h3>CareerBuzz</h3>
          <p>
            CareerBuzz comes into the picture. Our goal is to give every person with a dream to make it big in tech, an opportunity to explore their interests and passions without wasting precious time trying to overcome information overload and biased opinions.
          </p>
        </div>
        <div class="column links">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a href="#faq">F.A.Q</a>
            </li>
            <li>
              <a href="#cookies-policy">Cookies Policy</a>
            </li>
            <li>
              <a href="#terms-of-services">Terms Of Service</a>
            </li>
            <li>
              <a href="#support">Support</a>
            </li>
            <li>
              <a href="#careers">Careers</a>
            </li>
          </ul>
        </div>
        <div class="column subscribe">
          <h3>Subscribe</h3>
          <div>
            <input type="email" placeholder="Your email id here" />
            <button>Subscribe</button>
          </div>
          <div class="social">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </footer>