<div class="tech">
  <h1>TECH TRENDS</h1>

  <!-- card -->
  <hr class="hr" />
  <div class="techtrend">
    <div class="div1 sub"><img src="/images/ai.avif" alt="" /></div>
    <div class="div2 sub">
      <p>
        <span class="h"
          >Artificial Intelligence (AI) and Machine Learning (ML):</span
        >
        <br /><br>
        AI and ML continue to advance and find applications in various fields,
        such as healthcare, finance, customer service, and autonomous vehicles.
        Deep learning techniques and neural networks have been particularly
        influential in driving progress in this area.
      </p>
    </div>
  </div>

  <!-- card -->
  <hr class="hr" />
   <div class="techtrend">
    <div class="div1 sub">
      <p>
        <span class="h"
          > 5G Technology:</span
        >
        <br /><br>
         The fifth-generation wireless technology, 5G, promises
      significantly faster speeds, lower latency, and increased network
      capacity. It has the potential to transform various industries, including
      telecommunications, transportation, and healthcare.
      </p>
    </div>
    <div class="div2 sub"><img src="/images/5gr.avif" alt="" /></div>
  </div>

  
  <!-- card -->
  <hr class="hr" />
  <div class="techtrend">
    <div class="div1 sub"><img src="/images/iotr.avif" alt="" /></div>
    <div class="div2 sub">
      <p>
        <span class="h"
          >Internet of Things (IoT):</span
        >
        <br /><br> The IoT has gained momentum, connecting devices
      and enabling them to collect and exchange data. This technology has found
      applications in smart homes, wearables, industrial automation, and
      agriculture, among others.
      </p>
    </div>
  </div>

  <!-- card -->
  <hr class="hr" />
   <div class="techtrend">
    <div class="div1 sub">
      <p>
        <span class="h"
          >Robotics and Automation:</span
        >
        <br /><br>
       Robotics and automation technologies are transforming industries by
      enhancing productivity, efficiency, and safety. Applications include
      autonomous vehicles, drones, industrial automation, and robotic process
      automation (RPA) in business processes.
      </p>
    </div>
    <div class="div2 sub"><img src="/images/rnar.avif" alt="" /></div>
  </div>

  
  
  <!-- card -->
  <hr class="hr" />
  <div class="techtrend">
    <div class="div1 sub"><img src="/images/arvrr.avif" alt="" /></div>
    <div class="div2 sub">
      <p>
        <span class="h"
          >Augmented Reality (AR) and Virtual Reality (VR):</span
        >
        <br /><br>
         AR and VR technologies
      have advanced, creating immersive and interactive experiences. AR finds
      applications in sectors like gaming, retail, and education, while VR is
      widely used in gaming, training simulations, and virtual tours.
      </p>
    </div>
  </div>

  <!-- card -->
  <hr class="hr" />
   <div class="techtrend">
    <div class="div1 sub">
      <p>
        <span class="h"
          >Blockchain and Cryptocurrencies: </span
        >
        <br /><br>
        Blockchain technology has evolved beyond
      cryptocurrencies like Bitcoin and Ethereum. It has applications in supply
      chain management, decentralized finance (DeFi), digital identity
      verification, and secure record-keeping.
      </p>
    </div>
    <div class="div2 sub"><img src="/images/cnbr.avif" alt="" /></div>
  </div>

  
</div>


  <hr class="hr" />
