<head>
  <link rel="stylesheet" href="/css/team.css" />
</head>
<div class="team">
  <h1 class="about">Team</h1>

  <div class="profiles">
    <img src="/images/rashmi.jpg" alt="" />
    <p class="p">Rashmi Dhole</p>
    <p>Second year stundent Pursing Engineering in MESCoE, Pune.</p>
  </div>

  <div class="profiles">
    <img src="/images/sania.jpg" alt="" />
    <p class="p">Sania Nidagundi</p>
    <p>Second year stundent Pursing Engineering in MESCoE, Pune.</p>
  </div>

  <div class="profiles">
    <img src="/images/azhar.jpg" alt="" />
    <p class="p">Azhar Pathan</p>
    <p>Second year stundent Pursing Engineering in MESCoE, Pune.</p>
  </div>

  <div class="profiles">
    <img src="/images/komal.jpg" alt="" />
    <p class="p">Komal Kadnor</p>
    <p>Second year stundent Pursing Engineering in MESCoE, Pune.</p>
  </div>

  <div class="profiles">
    <img src="/images/brian.jpg" alt="" />
    <p class="p">Brian Dsouza</p>
    <p>Second year stundent Pursing Engineering in MESCoE, Pune.</p>
  </div>
</div>
